md-toolbar {
    background-color: #03A9F4;
    color: #FFFFFF;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
}

.master-card {
  width: 300px;
  box-sizing: border-box;
}

.detail-card {
  flex-grow: 1;
  box-sizing: border-box;
}

.master-card md-card-title {
    font-size: 2rem;
}
