<md-toolbar [color]="accent">
  <span>{{title}}</span>
</md-toolbar>
<div class="card-container">
    <md-card class="master-card">
        <md-card-header>
            <md-card-title>My Heroes</md-card-title>
        </md-card-header>
        <md-card-content>
            <toh-hero-list
                [heroes]="heroes$ | async"
                [selectedHero]="selectedHero$ | async"
                (select)="onHeroListSelectChange($event)">
            </toh-hero-list>
        </md-card-content>
    </md-card>
    <md-card class="detail-card">
        <toh-hero-detail
            [hero]="selectedHero$ | async"
            (change)="onHeroDetailsChange($event)">
        </toh-hero-detail>
    </md-card>
<div>